* {
    border-radius: 0 !important;
}

body, footer {
    background: #abc !important;
}

/* .container {
    width: 600px !important;
} */

.box, h1.title, .container > p {
    width: 600px !important;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding: 1.5rem !important;
}

h1.title {
    margin-bottom: 0.5rem !important;
    margin-top: 1.5rem !important;
}

.box {
    padding: 0.75rem;
    box-shadow: 0 0 0 1px #7c9fb7;
}

.box:not(:last-child), .columns.is-gapless:not(:last-child) {
    margin-bottom: 0.75rem !important;
}

.control .image, .control .emoji-link, br {
    display: none !important;
}

#status_count {
    background: initial !important;
    color: initial !important;
}

#post-form > div:nth-of-type(1), #post-form > div:nth-of-type(2) {
    display: none !important;
}

.navbar-item img {
    max-height: initial !important;
}